<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>echarts</display-name>
	<servlet>
		<servlet-name>ApplyServlet</servlet-name>
		<servlet-class>com.fpp.action.ApplyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApplyServlet</servlet-name>
		<url-pattern>/ApplyServlet</url-pattern>

	</servlet-mapping>

	<servlet>
		<servlet-name>ApplyServlet2</servlet-name>
		<servlet-class>com.fpp.action.ApplyServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApplyServlet2</servlet-name>
		<url-pattern>/ApplyServlet2</url-pattern>

	</servlet-mapping>

	<servlet>
		<servlet-name>PieServlet</servlet-name>
		<servlet-class>com.fpp.action.PieServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PieServlet</servlet-name>
		<url-pattern>/PieServlet</url-pattern>
	</servlet-mapping>
</web-app>